:root {
    --color1:  #252134;
    --size1: 35px;
    --size1: 17px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
}

body {
    background: #fff;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: relative;
}



.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 999;
}
.logo {
    width: 300px;
    height: auto;
    padding: 10px 50px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:200px;
}


.bar-icon{
    position:relative;
    width: 70px;
    height: 70px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.bar-icon span {
    width: 40px;
    height: 4px;
    background: #fff;
    position: absolute;
    transition: 0.5s;
    transform: translateX(-50%);
}



.bar-icon span:nth-child(1) {
    top: 30%;
    left: 50%;
    background: #fff;
}

.bar-icon span:nth-child(2) {
    bottom: 30%;
    left: 50%;
    background: #fff;
}

.bar-icon.active span:nth-child(1) {
    top:50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%) rotate(125deg);
    background: var(--color1);
}


.bar-icon.active span:nth-child(2) {
    top:50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%) rotate(225deg);
    background: var(--color1);
}

.bar-icon:before{
        content: '';
        position: absolute;
        top : 50%;
        left: 50%;
        transform: translate(-50%, -50%)  ;
        width: 40px;
        height: 4px;
        background: #fff;
        transition: 0.5s;

}


.bar-icon.active:before {
        width: 0;
        height: 0;

}


.container-list {
    position: absolute;
    top : 70px;
    left: 0;
    width: 0%;
    overflow: hidden;
    height: 89.4vh;
    background: #f1f4df;;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container-list .list li {
    list-style: none;
    padding: 10px 0px;
}



.container-list .list li a {
    position: relative;
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
    font-size: 2.5em;
}

.container-list .list li a:before {
    content: attr(data-text);
    position: absolute;
    top: -2px;
    width: 100%;
    color:#303a52;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
}

.container-list .list:hover li a:before{
    width: 0%;
}

.container-list .list li:hover a:before {
    width: 100%;
}
 
.img-header {
    position: relative;
    background: url('/img/fondo.jpg');
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.degradade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba (0,0,0,0.8);
}
.welcome {
    position: absolute;
    padding: 50px;
    z-index: 10;
}

.welcome h1 {
    font-size: 4em;
    color: #fff;
    font-weight: 300;
}
